<a href="https://colab.research.google.com/github/gastom20032003/3rocfp10/blob/main/TP_2_G.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICO 1

utiliza las funciones de contatenar + y repetir strings, *,junto con la funcion print () para dados los siguientes s1,s2,s3 y s4conseguir el resultadosiguiente: habia una vez ,un barquito chiquito habia una vez ,un barquito chiquito que no podia, que no podia, que no podia navegar

In [ ]:
s1 = "habia una vez, "
s2 = "un barquito chiquito "
s3 = "que no podia, "
s4 = "que no podianavegar."

In [ ]:
(s1 + s2 + s1 + s2 +s3 *2 +s4)

'habia una vez,un barquito chiquitohabia una vez,un barquito chiquitoque no podia,que no podia,que no podianavegar.'

ejercico 2
utiliza la funcion print () y el comando de salto de linea \n, para reproducir exactamente el siguiente texto:

Erase un hombre a una nariz pegado,
Erase una nariz superlativa,
Erase una alquitara medio viva,
Erase un peje espada mal barbado

In [ ]:
print( "\nErase un hombre a una nariz pegado, \nErase una nariz superlativa, \nErase una alquitara medio viva \nErase un peje espada mal barbado" )

Erase un hombre a una nariz pegado,
Erase una nariz superlativa,
Erase una alquitara medio viva
Erase un peje espada mal barbado

EJERCICO 3

transforma el siguiente strings s a mayusculas y muestralo por pantalla con la funcion print():

In [ ]:
s= "me encantan las matematicas"

In [ ]:
print(s.upper())

ME ENCANTAN LAS MATEMATICAS

Ejercicio 4

Calcula longitud del strin s

In [ ]:
s = "Mi pasión por el chocolate se superior a mis fuerzas"

#Ejercicio 5

Del strign a del ejercicio anterior, obtén el subtring chocolate y guárdalo en una variable llamado a s_sub.
No vale contar, deberás hallar los indices del substring con el método .find() (o el que mejor consideres) y la función len().

Finalmente, imprime tu resultado por pantalla.

#Ejercicio 6

Con la función input(). indicale al usuario que introduzca su nombre en la variable llamada nombre.

In [3]:
print("introduzca su nombre mi estimado compañero:")
nombre = input("nombre: ")

introduzca su nombre mi estimado compañero:
nombre:Gasti

#Ejercicio 7

Con la función input(), indicar al usuario que introduzca su apellido y guardarlo en la variable llamada apellido

In [4]:
print("pone tu apellido pibe daleeee")
apellido = input("apellido: ")

pone tu apellido pibe daleeee
apellido: Carrascal

#Ejercicio 8

Con la función input(), indicale al usuario que introduzca su apellido y guardarlo en la variable llamada edad ¡Ojo con el tipó edad!

In [5]:
print("cuantos años tenes flaco?")
edad = int(input("edad: "))

cuantos años tenes flaco?
edad: 19

#Ejercico 9

Con la función input(), indicale al usuario que introduzca la ciudad en el que vive y guardalo en la variable ciudad.

In [6]:
print("De que barrio sos pibe?")
ciudad = input("pone tu barrio: ")

De que barrio sos pibe?
pone tu barrio: San Cristobal

#Ejercicio 10

Con lo hecho en los ejercicios 6,7,8 y 10, imprime por pantalla todos los datos introduce por el usuario tal y com se muestra en el siguiente ejemplo, donde el usuario ha indicado que su nombre es Maria, su apellido, Santos, su edad, 21 años y actualmente vive en Palma de Mallorca.

In [8]:
print("El pibe se llama {},de apellido {}, tiene {} años y vive en {} " .format(nombre, apellido, edad, ciudad))

El pibe se llama Gasti,de apellido Carrascal , tiene 19 años y vive en San Cristobal