<a href="https://colab.research.google.com/github/gastom20032003/3rocfp10/blob/main/TP_2_G.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICO 1

utiliza las funciones de contatenar + y repetir strings, *,junto con la funcion print () para dados los siguientes s1,s2,s3 y s4conseguir el resultadosiguiente: habia una vez ,un barquito chiquito habia una vez ,un barquito chiquito que no podia, que no podia, que no podia navegar

In [7]:
s1 = "habia una vez,"
s2 = "un barquito chiquito"
s3 = "que no podia,"
s4 = "que no podianavegar."

In [15]:
(s1 + s2 + s1 + s2 +s3 *2 +s4)

'habia una vez,un barquito chiquitohabia una vez,un barquito chiquitoque no podia,que no podia,que no podianavegar.'

ejercico 2
utiliza la funcion print () y el comando de salto de linea \n, para reproducir exactamente el siguiente texto:

Erase un hombre a una nariz pegado,
Erase una nariz superlativa,
Erase una alquitara medio viva,
Erase un peje espada mal barbado

In [12]:
print( "\nErase un hombre a una nariz pegado, \nErase una nariz superlativa, \nErase una alquitara medio viva \nErase un peje espada mal barbado" )

Erase un hombre a una nariz pegado,
Erase una nariz superlativa,
Erase una alquitara medio viva
Erase un peje espada mal barbado

EJERCICO 3

transforma el siguiente strings s a mayusculas y muestralo por pantalla con la funcion print():

In [28]:
s= "me encantan las matematicas"

In [29]:
print(s.upper())

ME ENCANTAN LAS MATEMATICAS

EJERCICIO